body {
    font-family: impact,helvetica,sans-serif;
    background: url("images/grille.png");
}

.header {
    width: 1500px;
    margin: auto;
    min-height: 180px;
}

.header img {
    float: left;
    margin-left: 220px;
}

#menu {
    margin-left: 500px;
    line-height: 20px;
}

#menu ul {
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: #6b6b6b;
}

#hotel {
    float: left;
    margin-left: 10px;
    font-size: 0.8em;
}

#restaurants {
    float: left;
    margin-left: 10px;
    font-size: 0.8em;
}

#services {
    float: left;
    margin-left: 10px;
    font-size: 0.8em;
}

#activites {
    float: left;
    margin-left: 10px;
    font-size: 0.8em;
}

#plus {
    float: left;
    margin-left: 10px;
    font-size: 0.8em;
}

h1 {
    float: left;
}

h2 {
    text-transform: uppercase;
    font-size: 1em;
    color: #6b6b6b;
}

h3 {
    color: #a1a1a1;
}

.borderrestau {
    margin-left: 30px;
    border-bottom: 5px solid #fcd04a;
}

.borderservices {
    margin-left: 20px;
    border-bottom: 5px solid #b9d482;
}

.borderactivites {
    margin-left: 30px;
    border-bottom: 5px solid #3d92c2;
}

.borderplus {
    border-bottom: 5px solid #c078d0;
}

#video {
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #fff;
}

iframe {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#bordervideo {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#txtcenter {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    line-height: 60px;
    color: #6b6b6b;
    border-bottom: 1px solid #ccc;
}

.sectionall {
    margin-top: 20px;
    min-height: 450px;
    font-size: 0.8em;
    color: #78777b;
    background-color: #fff;
    
}

.sectionall a {
    text-decoration: none;
}

#allarticle {
    margin-left: 500px;
}

.golf {
    float: left;
    width: 200px;
    margin-right: 40px;
    padding: 5px;
    border: 1px solid #e1e1e1;
    margin-top: 25px;
}

.accrobranche {
    float: left;
    width: 200px;
    line-height: 1.8em;
}

.food {
    float: left;
    width: 200px;
    margin-top: -126px;
    margin-right: 500px;
    margin-bottom: 100px;
}

.comment {
    float: left;
    width: 400px;
    margin-left: 70px;
}

.footer {
    float: left;
    width: 1510px;
    margin-top: 50px;
    font-size: 0.8em;
}

.footer a {
    color: #78777b;
}

.lireplus {
    font-style: italic;
    font-weight: bold;
    color: #c9bfbf;
}

.bannfin {
    margin-left: 500px;
   
    
}

.contact {
    float: left;
    width: 200px;
    margin-right: 40px;
    color: #767676;
}

.billet {
    float: left;
    width: 200px;
    margin-right: 40px;
    color: #767676;
}

.dernier {
    float: left;
    width: 210px;
    margin-right: 40px;
    color: #767676;
}

.bla {
    float: left;
    width: 200px;
    color: #767676;
}

.bold {
    font-weight: bold;
    color: #7c7c7c;
}

.finishfooter {
    float: left;
    width: 1895px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 500px;
    color: #78777b;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.finishfooter a:link {
    text-decoration: none;
    font-weight: bold;
    color: #78777b;
}

.finishfooter a:visited {
    color: #78777b;
}

.copyright {
    color: c9bfbf;
}

.partage {
    float: right;
    margin-right: 450px;
}

#finishfoot {
    margin-left: -500px;
    background-color: #fff;
}

#hotel li:first-child {
    border-bottom: 5px solid #f76900;
    text-transform: uppercase;
    
}
#restaurants li:first-child {
    border-bottom: 5px solid #fcd04a;
    text-transform: uppercase;
}
#services li:first-child {
    border-bottom: 5px solid #b9d482;
    text-transform: uppercase;
}
#activites li:first-child {
    border-bottom: 5px solid #3d92c2;
    text-transform: uppercase;
}
#plus li:first-child {
    border-bottom: 5px solid #c078d0;
    text-transform: uppercase;
}